.container-fluid {
	max-width: 980px;
	margin: 0 auto;
}

.mobile-no-gutter {
	margin: 0 -10px;
	overflow: hidden;
	@media (min-width: $screen-sm) {
		margin: 0;
		overflow: visible;
	}
}

.mobile-no-margin-bottom {
	@media (max-width: $screen-sm - 1) {
		margin-bottom: 0;
	}
}

.no-gutter {
	margin: 0;
	> [class*='col-'] {
	    padding-right:0;
	    padding-left:0;
	}
}

img {
	max-width: 100%;
}

.font-family-extra-bold {
	font-family: $font-family-extra-bold;
}

.row-table-middle.row {
	display: table;
	width: 100%;
	> [class*='col-'] {
		display: table-cell;
		float: none;
		vertical-align: middle;
	}
}

.divider {
	border-top: 1px solid #ffffff;
	margin: 15px 0;
}

@media (min-width: $screen-sm) {
	.col-sm-margin-left-3 {
		margin-left: -25%;
	}
}

section {
	border-bottom: 1px solid #E7E7E7;
	padding-bottom: 40px;
	@media (min-width: $screen-sm) {
		border-color: #979797;
	}
	&:last-child {
		border-bottom: none;
	}
}

.view-all {
	display: inline-block;
	font-family: $font-family-semi-bold;
	margin-top: 50px;
	.glyphicon {
		font-size: ceil(($font-size-base * 0.714));
		margin-left: 18px;
	}
}


