<ul class="posts clearfix list-unstyled">
	<li>
		<div class="post-item">
			<div class="post-img">
				<img src="/images/blog-1.jpg" alt="Blog post image" />
			</div>
			<div class="post-content">
				<span class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span>
				<h3 class="h5">How to Clean Your Home in 20 Minutes Flat</h3>
				<p>Let’s face it: Housecleaning for most can feel like a necessary evil. But here’s the thing—it doesn’t have to be an all-day Saturday…</p>
				<a href="#" class="more">Read More &raquo;</a>
			</div>
		</div>
	</li>
	<li>
		<div class="post-item">
			<div class="post-img">
				<img src="/images/blog-2.jpg" alt="Blog post image" />
			</div>
			<div class="post-content">
				<span class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span>
				<h3 class="h5">Pets to Follow: Instagram Stars February 2017</h3>
				<p>Let’s face it: Housecleaning for most can feel like a necessary evil. But here’s the thing—it doesn’t have to be an all-day Saturday…</p>
				<a href="#" class="more">Read More &raquo;</a>
			</div>
		</div>
	</li>
</ul>
