<div class="row grid-top">
	<!-- Bissel Foundation Text -->
	<div class="col-sm-6 col-sm-push-6">
		<div class="pet-foundation row">
			<div class="col-xs-12 col-md-9 col-md-push-3">
				<p>The BISSELL Pet Foundation assists animal welfare organizations nationwide. This includes helping to reduce the number of animals in shelters and rescues through pet adoptions, spay and neuter programs, microchipping and foster care.</p>
			</div>
			<div class="col-xs-12">
				<div class="row">
					<div class="foundation-img col-xs-6">
						<img src="/images/BPF-LogocolorlargeWebSafe.png" alt="Bissell Pet Foundation" />
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Owner and labs image -->
	<div class="col-xs-11 col-sm-6 col-sm-pull-6">
		<div class="mobile-no-gutter">
			<img class="hidden-xs" src="/images/owner-and-dogs.jpg" alt="Owner and dogs" />
			<img class="visible-xs" src="/images/owner-and-dogs-mobile.jpg" alt="Owner and dogs" />
		</div>
	</div>
	<!-- Quote -->
	<div class="quote col-xs-push-1 col-xs-11 col-sm-7 col-sm-push-5">
		<div class="mobile-no-gutter">
			<blockquote>
				<p>“Everyone should experience a shelter animal at some point and see how they can change your life.”</p>
				<cite>Cathy Bissell</cite>
			</blockquote>
		</div>
	</div>
</div>


<div class="bg-primary opacity-90 block-large">
	<h3>
		<small>Event Recap</small>
		BlockTail
	</h3>
	<div class="details">Grand Rapids, MI | June 2016</div>
</div>

<br><br>

<div class="bg-primary opacity-90 block-large">
	<h3>
		<small>Event Recap</small>
		Empty the Shelters
	</h3>
	<div class="details">Grand Rapids, MI | June 2016</div>
</div>

