<div class="row grid-top">
	<!-- Bissel Foundation Text -->
	<div class="col-sm-6 col-sm-push-6">
		<div class="pet-foundation row">
			<div class="col-xs-12 col-md-9 col-md-push-3">
				<p>The BISSELL Pet Foundation assists animal welfare organizations nationwide. This includes helping to reduce the number of animals in shelters and rescues through pet adoptions, spay and neuter programs, microchipping and foster care.</p>
			</div>
			<div class="col-xs-12">
				<div class="row">
					<div class="foundation-img col-xs-6">
						<img src="/images/BPF-LogocolorlargeWebSafe.png" alt="Bissell Pet Foundation" />
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Owner and labs image -->
	<div class="col-xs-11 col-sm-6 col-sm-pull-6">
		<div class="mobile-no-gutter">
			<img class="hidden-xs" src="/images/owner-and-dogs.jpg" alt="Owner and dogs" />
			<img class="visible-xs" src="/images/owner-and-dogs-mobile.jpg" alt="Owner and dogs" />
		</div>
	</div>
	<!-- Quote -->
	<div class="quote col-xs-push-1 col-xs-11 col-sm-7 col-sm-push-5">
		<div class="mobile-no-gutter">
			<blockquote>
				<p>“Everyone should experience a shelter animal at some point and see how they can change your life.”</p>
				<cite>Bissell Pet Foundation</cite>
			</blockquote>
		</div>
	</div>
</div>


<div class="row">
	<div class="col-sm-8">
		<div class="event event1 mobile-no-gutter">
			<div class="row">
				<div class="col-sm-6">
					<div class="row">
						<div class="col-xs-11 col-sm-12">
							<div class="bg-primary opacity-90 block-large">
								<h3>
									<small>Event Recap</small>
									BlockTail
								</h3>
								<div class="details">Grand Rapids, MI | June 2016</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-9 col-sm-margin-left-3">
					<div class="row">
						<div class="col-xs-push-1 col-xs-11 col-sm-push-0 col-sm-12">
							<div class="event-imgs">
								<img src="http://placehold.it/479x318">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-4">
		<div class="fact fact1 clearfix">
			<div class="vertical-txt">
				<p><span>Less</span> <span>Than</span></p>
			</div>
			<div class="percent">
				<p>30%</p>
			</div>
			<div class="fact-txt">
				<p>of cats and dogs are adopted from shelters and rescues</p>
			</div>
		</div>
	</div>
</div>


<div class="row">
	<div class="col-sm-4">
		<div class="bg-offwhite work-in-action mobile-no-gutter">
			<div class="row">
				<div class="col-sm-push-1 col-sm-11">
					<h3>
						<small>Grants &amp; Funds</small>
						Work in Action
					</h3>	
				</div>
			</div>
			<ul class="location-list list-unstyled">
				<li>
					<div class="row row-table-middle">
						<div class="col-xs-5">
							<img src="/images/asheville-humane-society.jpg" alt="Asheville Humane Society">
						</div>
						<div class="col-xs-7">
							<div class="location-title">Asheville Humane Society</div>
							<div class="location-locate">Asheville, NC</div>
						</div>
					</div>
				</li>
				<li>
					<div class="row row-table-middle">
						<div class="col-xs-5">
							<img src="/images/carroll-county.jpg" alt="Carroll County Humane">
						</div>
						<div class="col-xs-7">
							<div class="location-title">Carroll County Humane</div>
							<div class="location-locate">Paris, TN</div>
						</div>
					</div>
				</li>
				<li>
					<div class="row row-table-middle">
						<div class="col-xs-5">
							<img src="/images/animal-rescue.jpg" alt="Asheville Humane Society">
						</div>
						<div class="col-xs-7">
							<div class="location-title">Animal Rescue Corps</div>
							<div class="location-locate">Senataobia, MS</div>
						</div>
					</div>
				</li>
			</ul>
			<div class="row">
				<div class="col-sm-push-1 col-sm-10">
					<a href="#" class="btn btn-secondary btn-block">View All Organizations</a>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-8">

		<div class="row">
			<div class="col-sm-6">
				<div class="mobile-no-gutter">
					<div class="adopted adopted_dog"></div>
					<div class="row">
						<div class="col-xs-push-1 col-xs-11">
							<div class="bg-primary opacity-90 block-small">
								<h3>Adopted!</h3>
								<div class="name-breed">HARRY | Clumber Spaniel</div>
								<div class="details">Adopted 2009</div>
							</div> 
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="mobile-no-gutter">
					<div class="row">
						<div class="col-xs-11 col-sm-12">
							<div class="bg-gray-dark text-center stat-callout">
								<div class="row">
									<div class="col-xs-push-1 col-xs-10 col-sm-push-0 col-sm-12">
										<h3>$3.6 million</h3>
									</div>
								</div>
								<div class="row">
									<div class="col-xs-push-1 col-xs-10">
										<div class="row">
											<div class="col-xs-push-2 col-xs-8">
												<div class="divider"></div>
											</div>
										</div>
										<p>Since 2011, the BISSELL Pet Foundation has donated $3.6 million dollars to help pets in need.</p>
										<a href="#" class="btn btn-secondary btn-block">How You Can Help</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6 col-sm-push-6">
				<div class="mobile-no-gutter">
					<div class="adopted adopted_cat"></div>
					<div class="row">
						<div class="col-xs-push-1 col-xs-11">
							<div class="bg-primary opacity-90 block-small">
								<h3>Adopted!</h3>
								<div class="name-breed">Jonah | Domestic Short Hair</div>
								<div class="details">Adopted 2008</div>
							</div> 
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-6 col-sm-pull-6">
				<div class="fact fact2 clearfix mobile-no-gutter">
					<div class="vertical-txt">
						<p>Only</p>
					</div>
					<div class="percent">
						<p>10%</p>
					</div> 
					<div class="fact-txt">
						<p>of the animals received by shelters have been spayed or neutered</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="row grid-bottom">
	<div class="col-sm-8">
		<div class="event event2 mobile-no-gutter">
			<div class="row">
				<div class="col-sm-6">
					<div class="row">
						<div class="col-xs-11 col-sm-12">
							<div class="bg-primary opacity-90 block-large">
								<h3>
									<small>Event Recap</small>
									Empty the Shelters
								</h3>
								<div class="details">Grand Rapids, MI | June 2016</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-9 col-sm-margin-left-3">
					<div class="row">
						<div class="col-xs-push-1 col-xs-11 col-sm-push-0 col-sm-12">
							<div class="event-imgs">
								<img src="http://placehold.it/479x322">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-4">
		<div class="mobile-no-gutter">
			<div class="row">
				<div class="col-xs-push-1 col-xs-10 col-sm-push-0 col-sm-12">
					<div class="bg-offwhite text-center foundation-callout">
						<div class="row">
							<div class="col-xs-push-1 col-xs-10">
								<h3>
									<img src="/images/BPF-LogocolorlargeWebSafe.png" alt="Bissell Pet Foundation" />
									<span class="sr-only">Bissell Pet Foundation</span>
								</h3>
								<div class="row">
									<div class="col-xs-push-2 col-xs-8">
										<div class="divider"></div>
									</div>
								</div>
								<p>Let’s give homeless pets the second chance they deserve.</p>
								<a href="#" class="btn btn-secondary btn-block">Visit the BPF Website</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


