<div class="hero mobile-no-gutter">
	<img src="http://placehold.it/960x540">
	<div class="bg-primary opacity-90 text-center">
		<h1>Pet Happens</h1>
		<div class="row">
			<div class="col-xs-push-1 col-xs-10">
				<p class="hero_txt">Nothing compares to the love you feel when you add a shelter dog to your family. But with all that love comes a little mess. At BISSELL, we care deeply about you and your pets. From designing products engineered specifically for pet cleanup to our BISSELL Pet Foundation.</p>

				<div class="vid-play">
					<p class="font-family-extra-bold">Watch the Whole Story</p>
					<a href="#" class="btn-vid-play">
						<span class="glyphicon glyphicon-play" aria-hidden="true"></span>
					</a>
				</div>
			</div>
		</div>
	</div> 
</div>
