<div class="hero mobile-no-gutter">
	<img src="http://placehold.it/960x540">
	<div class="bg-primary opacity-90 text-center">
		<h1>Pet Happens</h1>
		<div class="row">
			<div class="col-xs-push-1 col-xs-10">
				<p class="hero_txt">Pet happens, with messes big and small. When they do, you’ll want BISSELL products. At BISSELL we’re pet people, so we know what it takes to make products for pet cleanup. And our BISSELL Pet Foundation, knows how to find pets forever homes. We believe love outweighs the oops. And always will.</p>

				<div class="vid-play">
					<p class="font-family-extra-bold">Watch the Whole Story</p>
					<a href="#" class="btn-vid-play">
						<span class="glyphicon glyphicon-play" aria-hidden="true"></span>
					</a>
				</div>
			</div>
		</div>
	</div> 
</div>
