<div class="hero mobile-no-gutter">
	<img src="/images/hero.jpg" alt="Hero image">
	<div class="bg-primary opacity-90 text-center">
		<h1>Pet Happens</h1>
		<div class="row">
			<div class="col-xs-push-1 col-xs-10">
				<p class="hero_txt">Pet happens, with messes big and small. When they do, you’ll want BISSELL products. At BISSELL we’re pet people, so we know what it takes to make products for pet cleanup. And our BISSELL Pet Foundation, knows how to find pets forever homes. We believe love outweighs the oops. And always will.</p>

				<div class="vid-play">
					<p class="font-family-extra-bold">Watch the Whole Story</p>
					<div class="btn-iframe-wrapper">
						<a href="#" class="btn btn-tertiary btn-lg btn-round btn-hover btn-video-play" data-toggle="modal" data-target="#videoModal">
							<span class="glyphicon glyphicon-play" aria-hidden="true"></span>
						</a>
					</div>
					<!-- Modal -->
					<div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="videoModal">
					  <div class="modal-dialog" role="document">
					    <div class="modal-content">
					    	<div class="container-fluid button-container">
						      <button type="button" class="close btn-video-stop" data-dismiss="modal" aria-label="Close">
						      	<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
						      </button>
						    </div>
					      <div class="video-wrapper">
					      	<div id="player" class="YTplayer"></div>
					      </div>
					    </div>
					  </div>
					</div>
				</div>
			</div>
		</div>
	</div> 
</div>
