<ul class="posts clearfix list-unstyled">
	<li>
		<div class="post-item">
			<div class="post-img">
			 	<a href="http://www.lostpetusa.net/home" target="_blank">
					<img src="/images/partner-1.jpg" alt="Partner post image">
					<div class="post-overlay">
						<img src="/images/lost-pet.png" alt="Lost Pet USA" />
					</div>
				</a>
			</div>
			<div class="post-content">
				<span class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span>
				<h3 class="h5"><a href="http://www.lostpetusa.net/home" target="_blank">LostpetUSA.net</a></h3>
				<p>LostpetUSA.net offers a simple, convenient way to search for your pet - without leaving your home…</p>
				<a href="http://www.lostpetusa.net/home" target="_blank" class="more">Learn More &raquo;</a>
			</div>
		</div>
	</li>
	<li>
		<div class="post-item">
			<div class="post-img">
				<a href="https://www.bissell.com/pets/partners-for-pets">
					<img src="/images/partner-2.jpg" alt="Partner post image">
					<div class="post-overlay">
						<img src="/images/partners-for-pets.png" alt="Partners for Pets" />
					</div>
				</a>
			</div>
			<div class="post-content">
				<span class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span>
				<h3 class="h5"><a href="https://www.bissell.com/pets/partners-for-pets">BISSELL: Partners for Pets</a></h3>
				<p>Our unique position and partnerships allowed us to develop the Partners for Pets program, a program designed to help you…</p>
				<a href="https://www.bissell.com/pets/partners-for-pets" class="more">Learn More &raquo;</a>
			</div>
		</div>
	</li>
</ul>
