
<div class="mobile-no-gutter">
  <div class="products slider">
    <div>
      <div class="product">
        <div class="product-img">
          <img src="/images/product-1.jpg">
          <div class="product-discount-cta text-center">
            $20
            <span>off</span>
          </div>
        </div>
        <div class="product-details text-center">
          <div class="product-name"><a href="#">Pet Hair Eraser®<br>Upright Vacuum</a></div>
          <div class="product-price product-discount">
            <ul class="list-unstyled">
              <li>$249.99</li>
              <li>$229.99</li>
            </ul>
          </div>
          <div class="product-code">*use code “PETHAPPENS” at checkout</div>
          <a href="#" class="btn btn-tertiary btn-block btn-hover">Add to Cart</a>
        </div>
      </div>
    </div>
    <div>
      <div class="product">
        <div class="product-img">
          <img src="/images/product-2.jpg">
        </div>
        <div class="product-details text-center">
          <div class="product-name"><a href="#">ProHeat 2X® Revolution® Pet<br>Upright Carpet Cleaner</a></div>
          <div class="product-price">
            $199.80
          </div>
          <a href="#" class="btn btn-tertiary btn-block btn-hover">Add to Cart</a>
        </div>
      </div>
    </div>
    <div>
      <div class="product">
        <div class="product-img">
          <img src="/images/product-3.jpg">
        </div>
        <div class="product-details text-center">
          <div class="product-name"><a href="#">Symphony™ Pet All-in-One<br>Vacuum and Steam Mop</a></div>
          <div class="product-price">
            $179.99
          </div>
          <a href="#" class="btn btn-tertiary btn-block btn-hover">Add to Cart</a>
        </div>
      </div>
    </div>
    <div>
      <div class="product">
        <div class="product-img">
          <img src="/images/product-4.jpg">
          <div class="product-discount-cta text-center">
            $20
            <span>off</span>
          </div>
        </div>
        <div class="product-details text-center">
          <div class="product-name"><a href="#">SpotBot® Pet Portable<br>Carpet Cleaner</a></div>
          <div class="product-price product-discount">
            <ul class="list-unstyled">
              <li>$149.99</li>
              <li>$129.99</li>
            </ul>
          </div>
          <div class="product-code">*use code “PETHAPPENS” at checkout</div>
          <a href="#" class="btn btn-tertiary btn-block btn-hover">Add to Cart</a>
        </div>
      </div>
    </div>
  </div>
</div>
