
<div class="mobile-no-gutter">
  <div class="products slider">
    <div>
      <div class="product">
        <div class="product-img">
          <a href="https://www.bissell.com/pet-hair-eraser-upright-vacuum-1650a">
            <img src="/images/product-1.jpg">
            <div class="product-discount-cta text-center">
              $30
              <span>off</span>
            </div>
          </a>
        </div>
        <div class="product-details text-center">
          <div class="product-name"><a href="https://www.bissell.com/pet-hair-eraser-upright-vacuum-1650a">Pet Hair Eraser®<br>Upright Vacuum</a></div>
          <div class="product-price product-discount">
            <ul class="list-unstyled">
              <li>$249.99</li>
              <li>$219.99</li>
            </ul>
          </div>
          <div class="product-code">*sale price will automatically apply in cart</div>
          <a href="https://www.bissell.com/shopping-cart?SKU=1650A" class="btn btn-tertiary btn-block btn-hover">Add to Cart</a>
        </div>
      </div>
    </div>
    <div>
      <div class="product">
        <div class="product-img">
          <a href="https://www.bissell.com/proheat-2x-revolution-pet-upright-carpet-cleaner-1548">
            <img src="/images/product-2.jpg">
          </a>
        </div>
        <div class="product-details text-center">
          <div class="product-name"><a href="https://www.bissell.com/proheat-2x-revolution-pet-upright-carpet-cleaner-1548">ProHeat 2X® Revolution® Pet<br>Upright Carpet Cleaner</a></div>
          <div class="product-price">
            $199.80
          </div>
          <a href="https://www.bissell.com/shopping-cart?SKU=1548" class="btn btn-tertiary btn-block btn-hover">Add to Cart</a>
        </div>
      </div>
    </div>
    <div>
      <div class="product">
        <div class="product-img">
          <a href="https://www.bissell.com/symphony-pet-all-in-one-vacuum-and-steam-mop-1543">
            <img src="/images/product-3.jpg">
          </a>
        </div>
        <div class="product-details text-center">
          <div class="product-name"><a href="https://www.bissell.com/symphony-pet-all-in-one-vacuum-and-steam-mop-1543">Symphony™ Pet All-in-One<br>Vacuum and Steam Mop</a></div>
          <div class="product-price">
            $179.99
          </div>
          <a href="https://www.bissell.com/shopping-cart?SKU=1543" class="btn btn-tertiary btn-block btn-hover">Add to Cart</a>
        </div>
      </div>
    </div>
    <div>
      <div class="product">
        <div class="product-img">
          <a href="https://www.bissell.com/spotbot-pet-portable-carpet-cleaner-33n8a">
            <img src="/images/product-4.jpg">
            <div class="product-discount-cta text-center">
              $20
              <span>off</span>
            </div>
          </a>
        </div>
        <div class="product-details text-center">
          <div class="product-name"><a href="https://www.bissell.com/spotbot-pet-portable-carpet-cleaner-33n8a">SpotBot® Pet Portable<br>Carpet Cleaner</a></div>
          <div class="product-price product-discount">
            <ul class="list-unstyled">
              <li>$149.99</li>
              <li>$129.99</li>
            </ul>
          </div>
          <div class="product-code">*use code “PETHAPPENS” at checkout</div>
          <a href="https://www.bissell.com/shopping-cart?SKU=33n8a" class="btn btn-tertiary btn-block btn-hover">Add to Cart</a>
        </div>
      </div>
    </div>
  </div>
</div>
