<div class="row no-gutter">
	<div class="col-sm-6">
		<div class="bg-primary opacity-90 mobile-no-gutter steps-txt">	
			<h3 class="h4">Make a difference in your home and theirs.</h3>
			<div class="row">
				<div class="col-xs-5">
					<div class="divider"></div>
				</div>
			</div>
			<p>BISSELL has special pet cleaning products that give you solutions for stains and odors, pet shedding and accidents. So you can love your pet, but not the mess.</p>
			<p>Shop our pet vacuums, pet carpet cleaners, pet steam cleaners and pet hair tools, and we’ll donate a portion to BISSELL Pet Foundation. It’s easy.</p>
		</div>
	</div>
	<div class="col-sm-6">
		<div class="bg-offwhite single-step-wrapper">
			<div class="clearfix">
				<div class="col-sm-45">
					<div class="row">
						<div class="col-xs-8 col-xs-push-2 col-sm-12 col-sm-push-0">
							<div class="single-step step1 text-center">	
								<div class="step-number">1</div>
								<h4 class="h6">I've already made a purchase.</h4>
								<p>Activate your BISSELL Pet Foundation donation here.</p>
								<a href="https://www.bissell.com/pets/save-pets" class="btn btn-secondary btn-block">Activate Donation</a>
							</div>
						</div>
					</div>
				</div>

				<div class="seperator text-center">or</div>

				<div class="col-sm-45">
					<div class="row">
						<div class="col-xs-8 col-xs-push-2 col-sm-12 col-sm-push-0">
							<div class="single-step step2 text-center">	
								<div class="step-number">2</div>
								<h4 class="h6">I’d like to purchase a product.</h4>
								<p>Proceeds from BISSELL.com purchases are donated directly to BISSELL Pet Foundation.</p>
								<a href="https://www.bissell.com/cleaning-products/cleaning-needs/pet-clean-up" class="btn btn-secondary btn-block">Shop All Products</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
