{% extends "layout.html" %}
 
{% block title %}Bissell Puppy Bowl{% endblock %}

{% block content %}

{% include "partials/hero.html" %}

<section>
	<h2 class="mobile-no-margin-bottom">BISSELL Pet Foundation</h2>
	{% include "partials/grid.html" %}
</section>

<section>
	<h2>Products for Pet Parents</h2>
	{% include "partials/step-1-2.html" %}
	{% include "partials/products-slider.html" %}
	<div class="text-center">
		<a class="view-all" href="#">view all products <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a>
	</div>
</section>

<section>
	<h2>
		<span class="visible-xs">Latest from the</span>
		<span class="hidden-xs">The BISSELL Clean Sweep</span> 
		Blog
	</h2>
	{% include "partials/blog.html" %}
	<div class="text-center">
		<a class="view-all" href="#">view all blog posts <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a>
	</div>
</section>

<section>
	<h2>Our Partnerships</h2>
	{% include "partials/partners.html" %}
</section>

{% endblock %}
