.bg-primary {
	color: $off-white;
	h3 {
		color: $off-white;
		small {
			color: $off-white;
			display: block;
			font-size: $font-size-base;
			letter-spacing: 2px;
			text-transform: uppercase;
		}
	}
	&.opacity-90 {
		background: rgba($brand-primary, 0.9);
	}
}

.block-large {
	height: 197px;
	padding: 16px;
	position: relative;

	h3 {
		margin: 0;
		position: absolute;
		top: 40%;
		transform: translate(0, -40%);
	}

	.details {
		position: absolute;
		bottom: 16px;
	}
}
