.container-fluid {
	max-width: 980px;
	margin: 0 auto;
	@media (min-width: $screen-sm) {
		padding: 0;
	}
}

.mobile-no-gutter {
	margin: 0 -10px;
	overflow: hidden;
	@media (min-width: $screen-sm) {
		margin: 0;
		overflow: visible;
	}
}

.no-gutter {
	margin: 0;
	> [class*='col-'] {
	    padding-right:0;
	    padding-left:0;
	}
}

.row-table-middle.row {
	display: table;
	width: 100%;
	> [class*='col-'] {
		display: table-cell;
		float: none;
		vertical-align: middle;
	}
}

.col-sm-margin-left-3 {
	@media (min-width: $screen-sm) {	
		margin-left: -25%;
	}
}

.col-sm-45 {
	@media (min-width: $screen-sm) {
		float: left;
		width: 45%;
	}
}
