h1, .h1 {
	color: $gray-lightest;
	font-family: $font-family-black;
	text-transform: uppercase;
	@media (min-width: $screen-sm) {
		font-size: ceil(($font-size-base * 8.2142)); // ~115
	}
	@media (min-width: $screen-md) {
		font-size: ceil(($font-size-base * 11.1429)); // ~157
	}
} 

h2, .h2 {
	line-height: 1;
	margin: 39px 0 50px;
	@media (min-width: $screen-sm) {
		font-family: $font-family-bold;
		font-size: ceil(($font-size-base * 4.142)); // ~58
		text-align: center;
		margin: 80px 0 50px;
	}
}

h3, .h3 {
	@media (min-width: $screen-sm) {
		font-size: floor(($font-size-base * 3.43));
	}
}
